{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{block.super}}
{% endblock%}


{% block content %}
<!--{{mixin_prop}}-->
{% if request.user.is_authenticated %}
            {% for item in news %}
            <div class="card mb-3">
                <div class="card-header">
                   <b>Категория: <a href="{{ item.category.get_absolute_url }}">{{item.category}}</a></b>
                </div>
                <div class="card-body">
                    <div class="media">

                        <div class="media-body">
                            <h5 class="card-title  ">{{ item.title }}</h5>
                            <p class="card-text">{{ item.content|safe|linebreaks|truncatewords:50 }}</p>
                            <a href="{{ item.get_absolute_url }}" class="btn btn-info">Подробнее...</a>

                        </div>
                    </div>

                </div>
                <div class="card-footer text-muted">
                    {{item.created_at|date:"Y-F-d H:i:s" }} прошло.. {{ item.created_at|timesince }}
                </div>
            </div>
            {%endfor%}
{% endif %}
{% endblock %}
